# General
.DS_Store
Thumbs.db
.bundle/

# Nanoc-specific
output/
tmp/
crash.log

# Dependency directories
node_modules/
vendor/bundle/
vendor/ruby/

# Version management
.ruby-version
.ruby-gemset

# Environment variables
.env

# Editor/IDE specific files
*.swp
*~
.idea/
.vscode/

# Log files
*.log

# Database files
*.sqlite3

# Backup files
*~

# Other common files to ignore
*.bak
*.tmp
