#!/usr/bin/env ruby
# frozen_string_literal: true

preprocess do
  # Override base_url for Netlify previews
  @config[:base_url] = ENV['DEPLOY_PRIME_URL'] if ENV['DEPLOY_PRIME_URL']
end

compile '/**/*.html.erb' do
  filter :erb
  layout item.fetch(:layout, '/default.*')
  filter :base_url

  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext
  else
    write "#{item.identifier.without_ext.chomp('.html')}/index.html"
  end
end

compile '/**/*.html' do
  layout '/default.*'
  filter :base_url

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write "#{item.identifier.without_ext}/index.html"
  end
end

compile '/**/*.md' do
  filter :erb
  filter :rubypants
  # Skip markdown files in the assets/css folder
  next if item.identifier.without_ext =~ %r{^/assets/css/}

  filter :govuk_markdown
  layout item.fetch(:layout, '/markdown_resource.*')

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write "#{item.identifier.without_ext}/index.html"
  end
end

compile '/assets/css/application.scss' do
  filter :sassc, syntax: :scss, style: :compact, load_paths: %w[content/assets/css/]
  snapshot :css
  write '/css/application.css'
end
ignore '/assets/css/**/*'

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
