#!/usr/bin/env ruby
# frozen_string_literal: true

compile '/**/*.html.erb' do
  filter :erb
  layout item.fetch(:layout, '/default.*')
  filter :base_url

  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext
  else
    write "#{item.identifier.without_ext.chomp('.html')}/index.html"
  end
end

compile '/**/*.html' do
  layout '/default.*' unless item.identifier == '/index.html'
  filter :base_url

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write "#{item.identifier.without_ext}/index.html"
  end
end

compile '/**/*.md' do
  filter :erb
  filter :rubypants
  # Skip markdown files in the assets/css folder
  next if item.identifier.without_ext =~ %r{^/assets/css/}

  filter :govuk_markdown
  layout item.fetch(:layout, '/markdown_layout.*')

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write "#{item.identifier.without_ext}/index.html"
  end
end

compile '/assets/css/application.scss' do
  filter :sassc, syntax: :scss, style: :compact, load_paths: %w[content/assets/css/]
  snapshot :css
  write '/css/application.css'
end
ignore '/assets/css/**/*'

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
