---
title: Review and streamline feedback and marking
---

<div class="govuk-main-wrapper">
  <div class="dfe-width-container govuk-grid-row two-column-page">
    <div class="govuk-grid-column-two-thirds">
      <div class="dfe-width-container govuk-grid-row">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Review and streamline feedback and marking</h1>
        <div class="dfe-width-container govuk-grid-row govuk-!-margin-bottom-7">
          <strong class="govuk-tag">Presentation</strong>
        </div>
        <div class="dfe-width-container govuk-grid-row">
          <p>
            Use this presentation in a staff meeting or INSET day to review and
            streamline your feedback and marking processes.
          </p>
          <p>
            The presentation includes:
          <ul>
            <li>background and contextual information</li>
            <li>the purposes of feedback and marking</li>
            <li>reviewing current practice</li>
            <li>next steps</li>
          </ul>
          </p>
        </div>
      </div>

      <div class="govuk-grid-row dfe-width-container">
        <div class="govuk-grid-column-full">
          <div class="info-box">
            <div class="info-box__corner">
              <img src="/assets/images/download-icon.svg" alt="Download icon">
            </div>
            <h2 class="govuk-heading-m">
              Download the presentation
            </h2>
            <div class="govuk-grid-row info-box__download-content">
              <div class="govuk-grid-column-one-half">
                <img src="/assets/images/preview-placeholder.jpg" alt="Placeholder image" class="dfe-file-preview-image">
              </div>
              <div class="govuk-grid-column-one-half">
                <div class="info-box__content">
                  <p class="govuk-body-s">
                    <strong>Presentation length:</strong> 1 hour and 15 minutes
                  </p>
                  <p class="govuk-body-s">
                    <strong>Resource type:</strong> Presentation
                  </p>
                  <p class="govuk-body-s">
                    <strong>File type:</strong> OpenDocument Presentation, 171KB, 7 pages
                  </p>
                  <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="<%= @base_url %>/assets/files/Review and streamline feedback and marking.odp">
                      Download
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-7">
          Audience
        </h2>

        <p>
          This resource has been provided to support senior leadership teams to
          run a session with the whole school, teams or departments.
        </p>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          Presentation length
        </h2>

        <p>
          The presentation should take 1 hour and 15 minutes. You should also
          allocate time for the facilitator to prepare the session for use in
          your school.
        </p>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          How to run with your staff
        </h2>

        <p>
          Depending on the situation in your school, you might wish to use this
          workshop as a starting point to initiate further exploration. You can
          also use it to prepare for the workshop with activities beforehand.
        </p>
        <p>
          This could include your senior leadership team discussing: 
          <ul>
            <li>to what extent teachers follow your existing policy – and how you know?</li>
            <li>can you clearly articulate what you expect from teachers – and is it reasonable?</li>
            <li>do you have evidence to support the practices in your current policy?</li>
            <li>how does your policy compare with examples from other schools?</li>
          </ul>
        </p>
        <p>
          Senior leadership teams are likely to want to oversee the process.
          However they may want to consider if another staff member could
          facilitate the session and lead on follow-up, for example, a head of
          department. Alternatively, you might want to consider asking an
          independent person to facilitate the workshop, to free up time to take
          part.
        </p>
        <p>
          Provide a supportive environment for open and honest professional
          dialogue.
        </p>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          Supporting resources
        </h2>

        <ul class="resource-card-group">
          <%= render('/partials/resource_card.*', title: "Impact graph",
            href: "#{@base_url}/assets/files/Impact graph.odt",
            body: "A template to help you prioritise what to address first.",
            tag: "Template", download_link: true) %>
        </ul>
      </div>

      <div class="dfe-width-container govuk-grid-row govuk-!-margin-top-6">
        <%= render '/partials/share_this_resource.*' %>
      </div>
    </div>

    <div class="govuk-grid-column-one-third govuk-!-padding-top-7">
      <div class="govuk-!-margin-top-9 govuk-!-padding-top-9">
        <%= render '/partials/feedback.*' %>
      </div>
    </div>
  </div>
</div>
