---
title: Share your ideas
---

<div class="dfe-content-page--header dfe-content-page--header--secondary">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Share your ideas</h1>
        <p class="govuk-body govuk-body-hero-wrapped-text">
          All of the resources on this service have been tried and tested in schools. Practice is always evolving and
          school staff know what works best to improve workload and wellbeing.
        </p>
        <p class="govuk-body govuk-body-hero-wrapped-text">
          Share how you reduced workload and improved wellbeing for your staff, so we can continue to add helpful
          resources to this service. This could be approaches, documents, case studies, tools or ideas you have tried in
          your school.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-main-wrapper">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-5">
      <div class="dfe-icon-container--left govuk-!-margin-top-4">
        <img src="<%= @base_url %>/assets/images/idea.svg" alt="Idea icon" class="dfe-icon" />
      </div>
      <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4 govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">
          How to share
        </h2>
        <p class="govuk-body">
          You can share your ideas by submitting the form below:
        </p>
        <a href="https://forms.office.com/e/Mdr3nNHJHi" class="govuk-button" data-module="govuk-button">
          Share your ideas
        </a>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">
          Why you should share your ideas
        </h2>
        <p class="govuk-body">
          Sharing your ideas for this service means you can:
        </p>
        <ul>
          <li>
            help other schools reduce workload and improve wellbeing for their staff
          </li>
          <li>
            exchange knowledge with other school leaders and help each other save time
          </li>
          <li>
            join a community of school leaders
          </li>
        </ul>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-m">
          What happens after you share
        </h2>
        <p class="govuk-body">
          Once you have submitted the form, a member of our team will be in touch using the email address you provided. 
        </p>
        <p class="govuk-body">
          You will be asked for further details about your practice and have a chance to send any existing documents
          you may have.
        </p>
        <p class="govuk-body">
          Improve workload and wellbeing for school staff will never post anything you share without
          your final approval.
        </p>
        <p class="govuk-body">
          Thank you for doing your part to improve workload and wellbeing in your school.
        </p>
      </div>
    </div>
  </div>
</div>
