---
title: Workload reduction toolkit
---

<div class="dfe-content-page--header dfe-content-page--header--secondary">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Workload reduction toolkit</h1>
        <p class="govuk-body">
          Access workload reduction resources produced by school leaders, for
          school leaders. Learn how they addressed workload issues and save time
          when addressing those issues in your school.
        </p>
        <p class="govuk-body govuk-!-font-weight-bold">
          <a href="<%= @base_url %>/workload-reduction-toolkit/how-the-toolkit-was-made">
            Learn how the toolkit was made and tested
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <img src="<%= @base_url %>/assets/images/toolkit-hero.jpg"
          alt="Two teachers talking to each other on a sofa in a staff room" class="dfe-hero-image">
      </div>
    </div>
  </div>
</div>

<div class="govuk-main-wrapper">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-width-container">
      <h2 class="govuk-heading-m">Use the toolkit</h2>
    </div>

    <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-third card-group__item">
        <a class="dfe-card dfe-card--clickable govuk-link--no-visited-state" href="#">
          <p class="dfe-card-header govuk-!-padding-7 dfe-card-header--pink">
            Identify workload issues
          </p>
          <div class="dfe-card-body">
            <p class="govuk-body">Identify workload issues and prioritise where to act</p>
          </div>
        </a>
      </li>

      <li class="govuk-grid-column-one-third card-group__item">
        <a class="dfe-card dfe-card--clickable govuk-link--no-visited-state" href="<%= @base_url %>/workload-reduction-toolkit/address-workload-issues">
          <p class="dfe-card-header govuk-!-padding-7 dfe-card-header--purple">Address workload issues</p>
          <div class="dfe-card-body">
            <p class="govuk-body">Take action to reduce workload</p>
          </div>
        </a>
      </li>

      <li class="govuk-grid-column-one-third card-group__item">
        <a class="dfe-card dfe-card--clickable govuk-link--no-visited-state" href="#">
          <p class="dfe-card-header govuk-!-padding-7 dfe-card-header--green">Evaluate workload measures</p>
          <div class="dfe-card-body">
            <p class="govuk-body">Track and evaluate workload reduction measures</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="dfe-content-page">
  <div class="govuk-grid-row dfe-width-container">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
  </div>
</div>

<div class="govuk-main-wrapper">
  <%= render '/partials/feedback.*' %>
</div>
