---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "identify-workload-issues")%>
<% end %>

<div class="explore-resource-card-group">
  <div class="explore-resource-card">
    <p><a class="govuk-link" href="#">Staff workload survey example</a></p>

    <div class="explore-resource-card__row">
      <div class="explore-resource-card__row-title">
        <p class="govuk-body">Topic</p>
      </div>
      <div>
        <strong class="govuk-tag govuk-tag--pink">Identify workload issues</strong>
      </div>
    </div>

    <div class="explore-resource-card__row">
      <div class="explore-resource-card__row-title">
        <p class="govuk-body">Resource type</p>
      </div>
      <div>
        <p class="govuk-body">Template</p>
      </div>
    </div>
  </div>

  <div class="explore-resource-card">
    <p><a class="govuk-link" href="#">Identify the issues presentation</a></p>

    <div class="explore-resource-card__row">
      <div class="explore-resource-card__row-title">
        <p class="govuk-body">Topic</p>
      </div>
      <div>
        <strong class="govuk-tag govuk-tag--pink">Identify workload issues</strong>
      </div>
    </div>

    <div class="explore-resource-card__row">
      <div class="explore-resource-card__row-title">
        <p class="govuk-body">Resource type</p>
      </div>
      <div>
        <p class="govuk-body">Presentation</p>
      </div>
    </div>
  </div>

  <div class="explore-resource-card">
    <p><a class="govuk-link" href="#">Stuctured conversation template</a></p>

    <div class="explore-resource-card__row">
      <div class="explore-resource-card__row-title">
        <p class="govuk-body">Topic</p>
      </div>
      <div>
        <strong class="govuk-tag govuk-tag--pink">Identify workload issues</strong>
      </div>
    </div>

    <div class="explore-resource-card__row">
      <div class="explore-resource-card__row-title">
        <p class="govuk-body">Resource type</p>
      </div>
      <div>
        <p class="govuk-body">Template</p>
      </div>
    </div>
  </div>

  <div class="explore-resource-card">
    <p><a class="govuk-link" href="#">Using an INSET day to focus on reducing workload</a></p>

    <div class="explore-resource-card__row">
      <div class="explore-resource-card__row-title">
        <p class="govuk-body">Topic</p>
      </div>
      <div>
        <strong class="govuk-tag govuk-tag--pink">Identify workload issues</strong>
      </div>
    </div>

    <div class="explore-resource-card__row">
      <div class="explore-resource-card__row-title">
        <p class="govuk-body">Resource type</p>
      </div>
      <div>
        <p class="govuk-body">Case study</p>
      </div>
    </div>

    <div class="explore-resource-card__row">
      <div class="explore-resource-card__row-title">
        <p class="govuk-body">Created by</p>
      </div>
      <div>
        <p class="govuk-body">Kensington Primary School</p>
      </div>
    </div>
  </div>
</div>
