---
title: Manage flexible working requests
colour: blue
---

<div class="govuk-main-wrapper two-column-page content-section--blue">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Manage flexible working requests</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Resources to help manage flexible working requests
        </h2>

        <ul class="resource-card-group">
          <%= render("/partials/resource_card.*",
            title: "Step by step guide showing how to submit and manage flexible working requests",
            href: "#{@base_url}/flexible-working-toolkit/manage-flexible-working-requests/guide-submit-manage-flexible-working-requests",
            body: "Flowcharts to show how to submit and manage flexible working requests",
            tag: "Example",
            details: {
              reading_time: "2 minutes",
            }
          ) %>
        </ul>
      </div>

      <div class="govuk-grid-column-one-third">
        <hr class="govuk-section-break--blue govuk-section-break--thick">
        <%= render '/partials/feedback.*', colour: "blue" %>
      </div>
    </div>
  </div>
</div>
