$card-border-width: 1px;
$card-border-bottom-width: 3px;
$card-border-color: govuk-colour("purple");
$card-border-hover-color: govuk-colour("purple");
$card-text-color: govuk-colour("purple");
$card-text-hover-color: govuk-colour("purple");

.explore-resource-card-group {
  margin-top: govuk-spacing(7);
  @include govuk-media-query($from: tablet) {
    margin: govuk-spacing(5) govuk-spacing(9);
  }
}

.explore-resource-card {
  border-bottom: 4px solid #cdcdcd;
  margin-bottom: govuk-spacing(7);

  a {
    font-weight: bold;
    text-decoration-thickness: 10%;
  }
}

.explore-resource-card__row {
  display: flex;
}

.explore-resource-card__row-title {
  min-width: 30%;
  margin-right: govuk-spacing(4);

  p {
    font-weight: bold;
  }
}

.resource-card {
  @include govuk-responsive-padding(5);
  border: $card-border-width solid govuk-colour("mid-grey");
  margin: govuk-spacing(6) 0;
}

.resource-card-group {
  padding-left: 0;
}

.resource-card-group__item {
  list-style-type: none;
  padding: 0;
}

.resource-card__body {
  margin-top: 20px;
}

.icon-card {
  @include govuk-responsive-margin(5, "bottom");
  background: govuk-colour("white");
  border-bottom: $card-border-width solid $card-border-color;
  position: relative;
  width: 100%;
  text-decoration: none;
  margin: 0 govuk-spacing(5);

  p {
    text-decoration: none;
    color: $card-text-color !important;
    margin-bottom: 0;
  }
}

.icon-card__content {
  @include govuk-responsive-padding(5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-card--clickable {
  border-bottom-width: $card-border-bottom-width;

  &:hover,
  &:active {
    cursor: pointer;

    p {
      color: $card-text-hover-color;
      text-decoration: none;

      &:focus {
        color: $card-text-hover-color;
      }
    }
  }

  &:hover {
    border-color: $card-border-hover-color;

    p {
      text-decoration: underline;
    }
  }

  &:active {
    border-color: $card-border-hover-color;
    border-bottom-width: 0;
    bottom: -$card-border-width;

    p {
      text-decoration: underline;
    }
  }
}

.card-group {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: govuk-spacing(2);
  padding: 0;

  @include mq($until: desktop) {
    margin-bottom: govuk-spacing(6);
  }
}

.card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;

  .icon-card,
  .dfe-card {
    margin-bottom: govuk-spacing(8);
  }

  @include mq($until: desktop) {
    .icon-card,
    .dfe-card {
      margin-bottom: govuk-spacing(3);
    }
  }
}

.icon-card--icon {
  background-position: right 8px top 50%;
  background-repeat: no-repeat;
  min-width: 30px;
  max-width: 30px;

  @include mq($until: desktop) {
    background-position: right 4px top 50%;
  }
}

.icon-card--link {
  &.icon-card--clickable {
    &:hover,
    &:active {
      p {
        text-decoration: underline;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

.dfe-card-container {
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

.dfe-card {
  display: flex;
  width: 100%;
  margin: govuk-spacing(3);
  background-color: #347ca9;
  text-decoration: none;

  @include govuk-media-query($from: tablet) {
    margin: 20px;
    border: 1px solid #b1b4b6;
  }
}

.dfe-card-content {
  width: 100%;
}

.dfe-card--clickable {
  box-shadow: none !important;

  &:hover,
  &:active {
    .dfe-card-header {
      color: govuk-colour("white");
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }

  &:focus {
    .dfe-card-header {
      color: govuk-colour("black");
      background-color: $govuk-focus-colour;
      text-decoration: underline;
    }

    .dfe-card-body {
      background-color: $govuk-focus-colour;
      p {
        color: govuk-colour("black");
      }

      @include govuk-media-query($from: tablet) {
        background-color: govuk-colour("white");
      }
    }
  }
}

.govuk-grid-column-one-third .dfe-card-body {
  @include govuk-media-query($from: tablet) {
    min-height: 100px;
  }
}

.dfe-card-header {
  padding: govuk-spacing(4);
  padding-bottom: 0;
  margin: 0;
  color: govuk-colour("white");
  font-weight: bold;
  font-size: 19px;

  @include govuk-media-query($from: tablet) {
    font-size: 22px;
    padding: govuk-spacing(7) govuk-spacing(6);
  }
}

.dfe-card-body {
  padding: govuk-spacing(4);
  padding-top: govuk-spacing(3);

  p {
    color: govuk-colour("white");
    margin-bottom: 0;
  }

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(7);
    background-color: govuk-colour("white");

    p {
      margin-bottom: govuk-spacing(7);
      color: $govuk-text-colour;
    }
  }
}

.dfe-card__chevron {
  margin: 0 govuk-spacing(4);
  max-width: 20px;

  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.dfe-card--pink {
  background-color: #d4357f;
}

.dfe-card--purple {
  background-color: govuk-colour("purple");
}

.dfe-card--green {
  background-color: #279b91;
}
