.feedback-section-container {
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

.govuk-grid-column-one-third {
  .feedback-section-container {
    display: block;
    margin: 0;
  }

  .feedback-section {
    margin: 0;
    padding-top: govuk-spacing(2);
  }

  .feedback-section__icon {
    img {
      width: 56px;
    }
  }
}

.feedback-section {
  width: 100%;
  display: flex;
  margin-top: govuk-spacing(4);
  @include govuk-media-query($from: tablet) {
    margin: 0 govuk-spacing(6);
  }
}

.feedback-section__icon {
  margin-right: govuk-spacing(6);
  img {
    width: 67px;
  }
}

.feedback-section__content {
  .govuk-heading-m {
    margin-top: 0 !important;
  }
}

// In markdown pages, we can't drop the feedback section in below the title /
// intro-paragraph div. Therefore, we're adding some margin to the top
// equivalent to the h1 plus govuk-tag height.
//
// Only do this on desktop size. On smaller screens the section drops to the
// bottom.
.govuk-section-break-feedback {
  margin-top: govuk-spacing(9);

  @media only screen and (min-width: 630px) {
    margin-top: 125px;
  }
}
