.feedback-section-container {
  margin-top: govuk-spacing(1);
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    display: flex;
    .feedback-section:not(:last-child) {
      margin-right: 80px;
    }
  }

  .feedback-section__hidden_icon {
    display: none;
  }
}

.govuk-grid-column-one-third {
  .feedback-section-container {
    display: block;
    margin: 0;
  }

  .feedback-section {
    margin: 0;
    padding: govuk-spacing(2) 0 govuk-spacing(8) 0;
  }

  .feedback-section__icon {
    display: none;
  }

  .feedback-section__icon_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .govuk-heading-m {
      margin: 0;
    }

    .feedback-section__hidden_icon {
      display: block;
      margin: 0 20px 0 0;
      width: 56px;
    }
  }
}

.feedback-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    margin: 0 govuk-spacing(6);
  }
}

.feedback-section__icon {
  margin-right: govuk-spacing(6);
  width: 67px;
}

// In markdown pages, we can't drop the feedback section in below the title /
// intro-paragraph div. Therefore, we're adding some margin to the top
// equivalent to the h1 plus govuk-tag height.
//
// Only do this on desktop size. On smaller screens the section drops to the
// bottom.
.govuk-section-break-feedback {
  margin-top: govuk-spacing(9);

  @media only screen and (min-width: 630px) {
    margin-top: 125px;
  }
}
