.info-box {
  position: relative;
  background-color: govuk-colour("light-grey");
  border-top: 8px solid govuk-colour("blue");
  padding: govuk-spacing(7) govuk-spacing(9) govuk-spacing(4) govuk-spacing(9);
  margin: govuk-spacing(8) 0 govuk-spacing(8) govuk-spacing(3);

  .govuk-heading-m {
    margin-top: 0;
  }
}

.info-box__corner {
  position: absolute;
  background: govuk-colour("blue");
  width: 60px;
  height: 60px;
  top: -20px;
  left: -15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box__download-content {
  p {
    margin-bottom: govuk-spacing(6);
  }
  a {
    font-weight: bold;
  }
}

.markdown-page {
  .info-box {
    margin-bottom: govuk-spacing(2);

    h2 {
      margin-top: 0;
    }
  }
}

.content-section--purple {
  .info-box {
    border-color: govuk-colour("purple");
  }

  .info-box__corner {
    background: govuk-colour("purple");
  }
}

.content-section--pink {
  .info-box {
    border-color: #d4357f;
  }

  .info-box__corner {
    background: #d4357f;
  }
}

.content-section--green {
  .info-box {
    border-color: #279b91;
  }

  .info-box__corner {
    background: #279b91;
  }
}
