.info-box {
  position: relative;
  background-color: govuk-colour("light-grey");
  border-top: 8px solid govuk-colour("purple");
  padding: govuk-spacing(7) govuk-spacing(9) govuk-spacing(4) govuk-spacing(9);
  margin: govuk-spacing(8) 0 govuk-spacing(8) govuk-spacing(3);

  .govuk-heading-m {
    margin-top: 0;
  }
}

.info-box__corner {
  position: absolute;
  background: govuk-colour("purple");
  width: 60px;
  height: 60px;
  top: -20px;
  left: -15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.markdown-page {
  .info-box {
    margin-top: govuk-spacing(2);

    h2 {
      margin-top: 0;
    }
  }
}
