.info-box {
  position: relative;
  background-color: govuk-colour("light-grey");
  border-top: 8px solid govuk-colour("blue");
  padding: govuk-spacing(6);
  padding-top: govuk-spacing(7);
  margin: 60px 0 60px govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin: 80px 0 80px govuk-spacing(3);
    padding: govuk-spacing(7) govuk-spacing(9) govuk-spacing(4) govuk-spacing(9);
  }

  .govuk-heading-m {
    margin-top: 0;
  }
}

.info-box__corner {
  position: absolute;
  background: govuk-colour("blue");
  width: 55px;
  height: 55px;
  top: -25px;
  left: -15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @include govuk-media-query($from: tablet) {
    width: 60px;
    height: 60px;
    top: -20px;
  }
}

.info-box__download-content {
  p {
    margin-bottom: govuk-spacing(6);
  }
  a {
    font-weight: bold;
  }
}

.markdown-resource {
  .info-box {
    h2 {
      margin-top: 0;
    }
  }
}

.content-section--purple {
  .info-box {
    border-color: govuk-colour("purple");
  }

  .info-box__corner {
    background: govuk-colour("purple");
  }
}

.content-section--pink {
  .info-box {
    border-color: #d4357f;
  }

  .info-box__corner {
    background: #d4357f;
  }
}

.content-section--green {
  .info-box {
    border-color: #279b91;
  }

  .info-box__corner {
    background: #279b91;
  }
}
