@import "govuk/all";
@import "govuk/tools/all";
@import "govuk/settings/all";
@import "govuk/helpers/all";
@import "govuk/core/all";
@import "govuk/objects/all";
@import "govuk/components/all";
@import "govuk/utilities/all";
@import "govuk/overrides/all";
@import "dfe-fe/dfefrontend";

@import "_cards.scss";
@import "_info-box.scss";

@mixin reset {
  margin: 0;
  padding: 0;
}

// Remove margin from the last element
@mixin remove-last-child-margin {
  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}

@mixin block {
  margin: 2em 0;
  padding: 2em;
}

@mixin coloured-block($colour) {
  @include block;
  background: $colour;
}

@mixin left-bordered-block(
  $border-colour,
  $background-colour: govuk-colour("white")
) {
  @include block;
  border-left: 10px solid $border-colour;
  background: $background-colour;
}

@mixin emphatic-block(
  $background-colour,
  $foreground-colour: govuk-colour("white")
) {
  @include coloured-block($background-colour);
  padding: 2em 0;
  text-align: center;

  @include govuk-media-query($from: tablet) {
    p {
      @include govuk-font($size: 24, $weight: bold);

      em {
        @include govuk-font($size: 80, $weight: bold);
        display: block;
      }
    }
  }

  p {
    @include govuk-font($size: 24, $weight: bold);
    color: $foreground-colour;
  }

  em {
    font-style: normal;
  }
}

.govuk-width-container {
  max-width: 1200px;
}

.govuk-grid-column-one-third {
  padding: 0px;
}

.govuk-grid-column-one-half {
  display: flex;
  justify-content: center;
}

.govuk-grid-row {
  align-items: center;
}

.dfe-icon-container {
  text-align: center;
  padding: 40px;
  margin-bottom: 20px;
}

.dfe-icon {
  display: block;
  /* Make the image block to allow for centering */
  margin: 0 auto;
  /* Center the icon horizontally */
  margin-bottom: 20px;
  /* Add some space below the icon */
  width: 50px;
  /* Set the width as needed */
  height: auto;
  /* Keep the height proportional to the width */
}

.dfe-content-page--header {
  background-color: #347ca9;
  color: white;
  padding-bottom: 30px;
}

.dfe-content-page--header--secondary {
  background-color: #f0f4f5;
  color: black;
}

.dfe-content-page--row {
  padding: 40px 0;
  margin-bottom: 30px;
  background-color: #f3f2f1;
}

.dfe-content-page--header .dfe-width-container {
  display: flex;
  align-items: center;
  /* This will vertically align the children (the grid columns) to the middle */
  justify-content: space-between;
  /* This will maintain the spacing between the two columns */
}

/* If some child elements do not inherit the color, you might need to set them explicitly: */
.dfe-content-page--header .govuk-heading-xl,
.dfe-content-page--header .govuk-body-l,
.dfe-content-page--header .govuk-list,
.dfe-content-page--header .govuk-list li {
  color: white;
}

.dfe-content-page--header--secondary .govuk-heading-xl,
.dfe-content-page--header--secondary .govuk-body-l,
.dfe-content-page--header--secondary .govuk-list,
.dfe-content-page--header--secondary .govuk-list li {
  color: black;
}

.dfe-content-page--header .govuk-grid-column-two-thirds,
.dfe-content-page--header .govuk-grid-column-one-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dfe-content-page--header .dfe-hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.govuk-button {
  background-color: #003a69;
  color: #ffffff;
}

.govuk-body-m,
.govuk-list.govuk-list--bullet li {
  font-size: 16px;
}

.govuk-list.govuk-list--bullet li {
  margin-left: 8px;
}

.govuk-grid-row.govuk-width-container.dfe-width-container hr {
  max-width: 44em;
}

// apply gov.uk styles to content generated by markdown/govspeak
main {
  h1 {
    @extend %govuk-heading-xl;

    // make all h1's except the first unsightly, there
    // should only be one and it should be generated
    // from the frontmatter title 🤭
    &:not(:first-of-type) {
      background-color: govuk-colour("red");
      color: govuk-colour("yellow");
      padding: 3em;
      transform: rotate(5deg);
    }
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  dl,
  p {
    @extend %govuk-body-m;
  }

  ol {
    @extend %govuk-list;
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list;
    @extend %govuk-list--bullet;
  }

  strong,
  b,
  dt {
    @include govuk-typography-weight-bold;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }

  table {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    @include govuk-responsive-margin(6, "bottom");

    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    th {
      @include govuk-typography-weight-bold;
    }

    td,
    th {
      border-bottom: 1px solid $govuk-border-colour;
      padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;
      text-align: left;
      vertical-align: top;
    }
  }
}

.content__section--grey {
  background-color: govuk-colour("light-grey");
  @include govuk-responsive-padding(8, "top");
  @include govuk-responsive-padding(8, "bottom");
}

.resource-tag {
  height: 30px;
  width: 120px;
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
