@import "govuk/all";
@import "govuk/tools/all";
@import "govuk/settings/all";
@import "govuk/helpers/all";
@import "govuk/core/all";
@import "govuk/objects/all";
@import "govuk/components/all";
@import "govuk/utilities/all";
@import "govuk/overrides/all";
@import "dfe-fe/dfefrontend";

@import "_cards.scss";
@import "_info-box.scss";
@import "_topic-list.scss";
@import "_feedback-sections.scss";

@mixin reset {
  margin: 0;
  padding: 0;
}

// Remove margin from the last element
@mixin remove-last-child-margin {
  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}

@mixin block {
  margin: 2em 0;
  padding: 2em;
}

@mixin coloured-block($colour) {
  @include block;
  background: $colour;
}

@mixin left-bordered-block(
  $border-colour,
  $background-colour: govuk-colour("white")
) {
  @include block;
  border-left: 10px solid $border-colour;
  background: $background-colour;
}

@mixin emphatic-block(
  $background-colour,
  $foreground-colour: govuk-colour("white")
) {
  @include coloured-block($background-colour);
  padding: 2em 0;
  text-align: center;

  @include govuk-media-query($from: tablet) {
    p {
      @include govuk-font($size: 24, $weight: bold);

      em {
        @include govuk-font($size: 80, $weight: bold);
        display: block;
      }
    }
  }

  p {
    @include govuk-font($size: 24, $weight: bold);
    color: $foreground-colour;
  }

  em {
    font-style: normal;
  }
}

@media (max-width: 48.0525em) {
  .dfe-header__logo {
    max-width: 100%;
  }
}
@media (max-width: 450px) {
  .dfe-header__logo {
    max-width: 100%;
  }
}

.govuk-breadcrumbs__list-item {
  font-size: 1rem;
}

.govuk-width-container {
  max-width: 1200px;
}

.govuk-grid-row {
  align-items: center;
}

.dfe-icon-container {
  padding: 40px;
  margin-bottom: 20px;
}

.dfe-icon {
  display: block;
  /* Make the image block to allow for centering */
  margin: 0 auto;
  /* Center the icon horizontally */
  margin-bottom: 20px;
  /* Add some space below the icon */
  width: 50px;
  /* Set the width as needed */
  height: auto;
  /* Keep the height proportional to the width */
}

.dfe-icon-container--left {
  float: left;
  margin: 0 govuk-spacing(4);
  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(4);
  }
}

.dfe-icon-container--left .dfe-icon {
  width: 75px;
  height: auto;
}

.dfe-content-page--header {
  background-color: #347ca9;
  color: white;
  padding-bottom: 30px;
}

.dfe-content-page--header--secondary {
  background-color: #f0f4f5;
  color: black;
}

.dfe-content-page--row {
  padding: 40px 0;
  margin-bottom: 30px;
  background-color: #f3f2f1;
}

.dfe-content-page--header .dfe-width-container {
  display: flex;
  align-items: center;
  /* This will vertically align the children (the grid columns) to the middle */
  justify-content: space-between;
  /* This will maintain the spacing between the two columns */
}

/* If some child elements do not inherit the color, you might need to set them explicitly: */
.dfe-content-page--header .govuk-heading-xl,
.dfe-content-page--header .govuk-body-l,
.dfe-content-page--header .govuk-list,
.dfe-content-page--header .govuk-list li {
  color: white;
}

.dfe-content-page--header--secondary .govuk-heading-xl,
.dfe-content-page--header--secondary .govuk-body-l,
.dfe-content-page--header--secondary .govuk-list,
.dfe-content-page--header--secondary .govuk-list li {
  color: black;
}

.dfe-content-page--header .govuk-grid-column-two-thirds,
.dfe-content-page--header .govuk-grid-column-one-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dfe-content-page--header .dfe-hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.dfe-body-wrapped-text {
  max-width: 30em;
}

.dfe-card-header .govuk-link,
.dfe-card-header .govuk-link:hover,
.dfe-card-header .govuk-link:focus,
.dfe-card-header .govuk-link:visited {
  color: white;
  text-decoration: none;
}

.govuk-button--blue {
  background-color: #003a69;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

.govuk-button--blue:hover {
  background-color: #1d70b8;
}

.govuk-button--blue:active {
  background-color: #1d70b8;
  border: 2px solid #ffdd00;
}

.govuk-button--blue:focus {
  // outline: 4px solid #FFDD00;
  outline-offset: 2px;
}

.govuk-list.govuk-list--bullet li {
  margin-left: 8px;
}

.dfe-file-preview-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.dfe-header__menu-toggle {
  right: 0px;
}

// apply gov.uk styles to content generated by markdown/govspeak
main {
  h1 {
    @extend %govuk-heading-xl;

    // make all h1's except the first unsightly, there
    // should only be one and it should be generated
    // from the frontmatter title 🤭
    &:not(:first-of-type) {
      background-color: govuk-colour("red");
      color: govuk-colour("yellow");
      padding: 3em;
      transform: rotate(5deg);
    }
  }

  h2 {
    @extend %govuk-heading-l;
    @include govuk-responsive-margin(6, "top");
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  dl,
  p {
    @extend %govuk-body-m;
  }

  ol {
    @extend %govuk-list;
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list;
    @extend %govuk-list--bullet;
  }

  strong,
  b,
  dt {
    @include govuk-typography-weight-bold;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }

  table {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    @include govuk-responsive-margin(6, "bottom");

    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    th {
      @include govuk-typography-weight-bold;
    }

    td,
    th {
      border-bottom: 1px solid $govuk-border-colour;
      padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;
      text-align: left;
      vertical-align: top;
    }
  }
}

.markdown-resource {
  .govuk-heading-m {
    @include govuk-responsive-margin(8, "top");
  }

  hr {
    border-width: 4px;
  }
}

hr.section-break--thin {
  border-width: 2px;
}

.content__section--grey {
  background-color: govuk-colour("light-grey");
  @include govuk-responsive-padding(8, "top");
  @include govuk-responsive-padding(8, "bottom");
}

.govuk-inset-text {
  @include govuk-responsive-padding(6, "left");
  @include govuk-responsive-padding(1, "top");
  @include govuk-responsive-padding(2, "bottom");
  border-left: $govuk-border-width-wide solid govuk_colour("blue");

  h2 {
    @include govuk-font($size: 24, $weight: bold);
  }
}

.content-section--purple {
  .govuk-inset-text {
    border-color: govuk_colour("purple");
  }
  .govuk-section-break--thick {
    border-color: govuk-colour("purple");
  }
}

.content-section--pink {
  .govuk-inset-text {
    border-color: #d4357f;
  }
  .govuk-section-break--thick {
    border-color: #d4357f;
  }
}

.content-section--green {
  .govuk-inset-text {
    border-color: #279b91;
  }
  .govuk-section-break--thick {
    border-color: #279b91;
  }
}

.govuk-tag {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  border-radius: 8px;
  font-weight: bold;
  max-width: unset;
}

.govuk-tag--pink {
  background-color: #d4357f;
}

.govuk-tag--purple {
  background-color: govuk-colour("purple");
}

.govuk-tag--green {
  background-color: #279b91;
}

.govuk-blue-text {
  color: govuk-colour("blue");
}

.markdown-resource {
  .govuk-tag {
    margin-bottom: govuk-spacing(4);
  }
}

.govuk-footer {
  margin-top: govuk-spacing(9);
  p,
  a {
    font-size: 1rem;
  }
}

.govuk-footer__contact {
  .govuk-footer__contact-description {
    a {
      font-weight: bold;
    }
  }

  .govuk-footer__contact-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: govuk-spacing(2);
  }
}

.govuk-section-break--thick {
  border-color: govuk-colour("blue");
  border-width: 4px;
}

.two-column-page {
  h1 {
    margin-bottom: govuk-spacing(7);
  }

  @include govuk-media-query($from: tablet) {
    .govuk-grid-column-two-thirds {
      padding-right: govuk-spacing(9);
    }

    .govuk-grid-column-one-third {
      padding-left: govuk-spacing(6);
    }
  }
}

.markdown-resource {
  h1 {
    margin-bottom: govuk-spacing(3);
  }
}

.share-resource-container {
  display: flex;
}

.share-resource {
  display: flex;
  margin-right: govuk-spacing(7);
  align-items: center;
  line-height: 0;

  p {
    margin-bottom: 0;
    font-size: 16px;
  }
}

.share-resource__icon {
  margin-right: govuk-spacing(4);
  border-radius: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: govuk_colour("purple");
}

.share-resource__icon--blue {
  background-color: govuk-colour("blue");
}

.share-resource__icon--pink {
  background-color: #d4357f;
}

.share-resource__icon--green {
  background-color: #279b91;
}

// Style a button like a govuk-link
.button-link {
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  color: $govuk-link-colour;
  box-shadow: none;
  text-decoration: underline;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    text-decoration-thickness: 3px;
  }
}

.govuk-cookie-banner {
  .decision {
    display: none;
  }

  &[consented="yes"] {
    .accepted {
      display: inline;
    }
  }

  &[consented="no"] {
    .rejected {
      display: inline;
    }
  }
}
