@import "govuk/all";
@import "govuk/tools/all";
@import "govuk/settings/all";
@import "govuk/helpers/all";
@import "govuk/core/all";
@import "govuk/objects/all";
@import "govuk/components/all";
@import "govuk/utilities/all";
@import "govuk/overrides/all";
@import "dfe-fe/dfefrontend";


@mixin reset {
  margin: 0;
  padding: 0;
}

// Remove margin from the last element
@mixin remove-last-child-margin {

  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}

@mixin block {
  margin: 2em 0;
  padding: 2em;
}

@mixin coloured-block($colour) {
  @include block;
  background: $colour;
}

@mixin left-bordered-block($border-colour,
  $background-colour: govuk-colour("white")) {
  @include block;
  border-left: 10px solid $border-colour;
  background: $background-colour;
}

@mixin emphatic-block($background-colour,
  $foreground-colour: govuk-colour("white")) {
  @include coloured-block($background-colour);
  padding: 2em 0;
  text-align: center;

  @include govuk-media-query($from: tablet) {
    p {
      @include govuk-font($size: 24, $weight: bold);

      em {
        @include govuk-font($size: 80, $weight: bold);
        display: block;
      }
    }
  }

  p {
    @include govuk-font($size: 24, $weight: bold);
    color: $foreground-colour;
  }

  em {
    font-style: normal;
  }
}

.govuk-width-container {
  max-width: 1200px;
}

.govuk-grid-column-one-third {
  padding: 0px;
}

.dfe-card {
  margin: 40px;
  border: 1px solid #b1b4b6;
}

.govuk-grid-column-one-third .dfe-card {
  margin: 20px;
}

.govuk-grid-column-one-third .dfe-card-body {
  min-height: 100px;
}

.dfe-card-header {
  background-color: #347CA9;
  padding: 20px;
  color: white;
}

.dfe-card-header .govuk-heading-m {
  color: white;
  margin: 20px;
}

.dfe-card-header .govuk-heading-s {
  color: white;
  margin: 20px;
}

.dfe-card-header--pink {
  background-color: #D4357F;
}

.dfe-card-header--purple {
  background-color: #4C2C92;
}

.dfe-card-header--green {
  background-color: #279B91;
}

.dfe-card-body {
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
}

.govuk-grid-column-one-half {
  display: flex;
  justify-content: center;
}

.govuk-grid-row {
  align-items: center;
}

.dfe-icon-container {
  text-align: center;
  padding: 40px;
  margin-bottom: 20px;
}

.dfe-icon {
  display: block;
  /* Make the image block to allow for centering */
  margin: 0 auto;
  /* Center the icon horizontally */
  margin-bottom: 20px;
  /* Add some space below the icon */
  width: 50px;
  /* Set the width as needed */
  height: auto;
  /* Keep the height proportional to the width */
}

.dfe-content-page--header {
  background-color: #347ca9;
  color: white;
  padding-bottom: 30px;
}

.dfe-content-page--header--secondary {
  background-color: #F0F4F5;
  color: black;
}

.dfe-content-page--row {
  padding: 40px 0;
  margin-bottom: 30px;
  background-color: #F3F2F1;
}

.dfe-content-page--header .dfe-width-container {
  display: flex;
  align-items: center;
  /* This will vertically align the children (the grid columns) to the middle */
  justify-content: space-between;
  /* This will maintain the spacing between the two columns */
}

/* If some child elements do not inherit the color, you might need to set them explicitly: */
.dfe-content-page--header .govuk-heading-xl,
.dfe-content-page--header .govuk-body-l,
.dfe-content-page--header .govuk-list,
.dfe-content-page--header .govuk-list li {
  color: white;
}

.dfe-content-page--header--secondary .govuk-heading-xl,
.dfe-content-page--header--secondary .govuk-body-l,
.dfe-content-page--header--secondary .govuk-list,
.dfe-content-page--header--secondary .govuk-list li {
  color: black;
}

.dfe-content-page--header .govuk-grid-column-two-thirds,
.dfe-content-page--header .govuk-grid-column-one-third {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dfe-content-page--header .dfe-hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.govuk-button {
  background-color: #003A69;
  color: #ffffff;
}

.govuk-body-m,
.govuk-list.govuk-list--bullet li {
  font-size: 16px;
}

.govuk-list.govuk-list--bullet li {
  margin-left: 8px;
}

.govuk-grid-row.govuk-width-container.dfe-width-container hr {
  max-width: 44em;
}

// apply gov.uk styles to content generated by markdown/govspeak
main {
  h1 {
    @extend %govuk-heading-xl;

    // make all h1's except the first unsightly, there
    // should only be one and it should be generated
    // from the frontmatter title 🤭
    &:not(:first-of-type) {
      background-color: govuk-colour("red");
      color: govuk-colour("yellow");
      padding: 3em;
      transform: rotate(5deg);
    }
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  dl,
  p {
    @extend %govuk-body-m;
  }

  ol {
    @extend %govuk-list;
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list;
    @extend %govuk-list--bullet;
  }

  strong,
  b,
  dt {
    @include govuk-typography-weight-bold;
  }

  a {
    @extend %govuk-link;
  }

  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }

  table {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    @include govuk-responsive-margin(6, "bottom");

    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    th {
      @include govuk-typography-weight-bold;
    }

    td,
    th {
      border-bottom: 1px solid $govuk-border-colour;
      padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;
      text-align: left;
      vertical-align: top;
    }
  }
}

// Govspeak stuff

.advisory {
  $info-background: #d5e8f3;

  @include coloured-block($info-background);
  @include remove-last-child-margin;

  display: flex;

  @include govuk-media-query($from: tablet) {
    background: url("/assets/images/icon-important.svg") center right 2em no-repeat $info-background;
  }

  p {
    @include reset;
  }
}

.call-to-action {
  @include remove-last-child-margin;
  @include coloured-block(govuk-colour("light-grey"));

  &:first-child {
    margin-top: 0;
  }
}

.application-notice {
  &.info-notice {
    @include remove-last-child-margin;
    @include left-bordered-block(govuk-colour("mid-grey"));
  }

  &.help-notice {
    background: url("/assets/images/icon-important.svg") center left 0.2em no-repeat;
    margin: 2em 0;
    padding: 1em;

    p {
      margin: 1em 0 1em 2em;
    }
  }
}

.summary {
  @include remove-last-child-margin;
  @include coloured-block(govuk-tint(govuk-colour("pink"), 80%));

  p {
    @include govuk-font($size: 19);
  }
}

.legislative-list {
  list-style: none;
  margin: 5px 0;

  li {
    margin: 5px 0;
  }

  p {
    margin: 20px 0;
  }

  ol {
    list-style: none;
    margin: govuk-spacing(2) 0 govuk-spacing(2) govuk-spacing(6);
  }
}

.highlight-answer {
  @include remove-last-child-margin;
  @include emphatic-block(govuk-colour("green"));
}

.example {
  $example: govuk-colour("purple");

  @include left-bordered-block($example);
  @include remove-last-child-margin;

  margin: 2em 0;
  padding: 0.2em 2em 2em;

  &::before {
    @include govuk-font($size: 16, $weight: bold);

    color: $example;
    content: "Example";
    display: block;
    margin-bottom: 1.2em;
  }
}

.contact {
  white-space: pre;
}

.stat-headline {
  @include emphatic-block(govuk-colour("blue"));
  @include remove-last-child-margin;

  padding: 1em 2em;

  @include govuk-media-query($from: tablet) {
    width: max-content;
  }
}

.steps {
  counter-reset: circle-counter;
  list-style-type: none;
  margin: 1em 0 2em;
  padding: 0.2em;

  >li {
    counter-increment: circle-counter;

    &::before {
      @include govuk-font($size: 14, $weight: bold);

      background-color: govuk-colour("black");
      border-radius: 50%;
      color: govuk-colour("white");
      content: counter(circle-counter);
      display: inline-block;
      line-height: 1.4rem;
      margin: 0.2em 0.5em 0 0;
      text-align: center;
      width: 1.4em;
    }

    >p {
      display: inline-block;
      margin-bottom: 0.2em;
    }
  }
}
