<div class="govuk-grid-row  govuk-width-container dfe-width-container">
  <div class="govuk-grid-column-one-third">
    <div class="dfe-icon-container">
      <img src="./assets/images/chat.svg" alt="Chat icon" class="dfe-icon">
      <h2 class="govuk-heading-m">Help to improve our service</h2>
      <p class="govuk-body">Provide us with your feedback to help us improve our service on workload and wellbeing for
        all school staff.</p>
      <a href="#" class="govuk-link">Complete our feedback form</a>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="dfe-icon-container">
      <img src="./assets/images/idea.svg" alt="Idea icon" class="dfe-icon">
      <h2 class="govuk-heading-m">Share your ideas with us</h2>
      <p class="govuk-body">We'd love to know what you are doing or have done to help with workload and wellbeing in
        your school.</p>
      <a href="#" class="govuk-link">Share your ideas with us</a>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="dfe-icon-container">
      <img src="./assets/images/mail.svg" alt="Mail icon" class="dfe-icon">
      <h2 class="govuk-heading-m">Contact us for support</h2>
      <p class="govuk-body">Contact us via this email: support@education.gov.uk, if you need further support.</p>
      <a href="mailto:support@education.gov.uk" class="govuk-link">Contact us for support</a>
    </div>
  </div>
</div>
