<div
  class="govuk-grid-row govuk-width-container dfe-width-container feedback-section-container"
>
  <div class="feedback-section">
    <div class="feedback-section__icon">
      <img
        src="<%= @base_url %>/assets/images/idea.svg"
        alt="Idea icon"
        class="dfe-icon"
      />
    </div>
    <div class="feedback-section__content">
      <h3 class="govuk-heading-m">Share your ideas</h3>
      <p class="govuk-body">
        You can help other school leaders by sharing what has worked in your
        school.
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Share your ideas
        </a>
      </p>
    </div>
  </div>
  <div class="feedback-section">
    <div class="feedback-section__icon">
      <img
        src="<%= @base_url %>/assets/images/chat.svg"
        alt="Chat icon"
        class="dfe-icon"
      />
    </div>
    <div class="feedback-section__content">
      <h3 class="govuk-heading-m">Help improve our service</h3>
      <p class="govuk-body">
        Your feedback will help us improve our service on workload and wellbeing
        for all school staff.
      </p>
      <p class="govuk-body">
        <a
          href="https://forms.office.com/e/sEhZxVyw29"
          class="govuk-link govuk-link--no-visited-state"
        >
          Complete our feedback form
        </a>
      </p>
    </div>
  </div>
</div>
