<div class="govuk-grid-row govuk-width-container dfe-width-container">
  <div class="govuk-grid-column-one-third">
    <div class="dfe-icon-container">
      <img
        src="<%= @base_url %>/assets/images/chat.svg"
        alt="Chat icon"
        class="dfe-icon"
      />
      <h2 class="govuk-heading-m">Help to improve our service</h2>
      <p class="govuk-body">
        Provide us with your feedback to help us improve our service on workload
        and wellbeing for all school staff.
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Complete our feedback form</a>
      </p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="dfe-icon-container">
      <img
        src="<%= @base_url %>/assets/images/idea.svg"
        alt="Idea icon"
        class="dfe-icon"
      />
      <h2 class="govuk-heading-m">Share your ideas with us</h2>
      <p class="govuk-body">
        We'd love to know what you are doing or have done to help with workload
        and wellbeing in your school.
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Share your ideas with us</a>
      </p>
    </div>
  </div>
</div>
