<div class="info-box">
  <div class="info-box__corner">
    <img src="/assets/images/i-icon.svg" alt="info icon">
  </div>
  <h2 class="govuk-heading-m">
    How to use this section
  </h2>
  <p>
    You can use the resources as they are or adapt them to meet the
    needs of your school.
  </p>
  <p>
    The presentation is designed to enable safe discussion with your
    staff in a staff meeting or INSET day. You can use it to identify
    which issues with communications workload to prioritise, update,
    streamline or stop completely.
  </p>
  <p>
    You can also read case studies and see examples of how other schools
    have reduced communications workoad.
  </p>
</div>
