<% wrapped_content=capture do %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-width-container dfe-width-container markdown-page">
      <div class="govuk-grid-column-two-thirds">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render '/default.html.erb' , content: wrapped_content %>
