<% wrapped_content=capture do %>
  <div class="govuk-main-wrapper">
    <div class="dfe-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render '/default.html.erb' , content: wrapped_content %>
