---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "create-flexible-working-strategy")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render("/partials/explore_resource_card.*",
    title: "Example flexible working policy",
    href: "#{@base_url}/flexible-working-toolkit/create-a-flexible-working-strategy/example-flexible-working-policy",
    tag: "Create a flexible working strategy",
    tag_colour: "pink",
    details: {
      resource_type: "Example",
      reading_time: "1 minute",
    }
  ) %>

  <%= render("/partials/explore_resource_card.*",
    title: "Implementing flexible working",
    href: "#{@base_url}/flexible-working-toolkit/create-a-flexible-working-strategy/implementing-flexible-working",
    tag: "Create a flexible working strategy",
    tag_colour: "pink",
    details: {
      resource_type: "Example",
      reading_time: "1 minute",
    }
  ) %>
</div>
