---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "data-management")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render('/partials/explore_resource_card.*',
    title: "Review and streamline data management",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/data-management/review-and-streamline-data-management",
    tag:  "Data management",
    tag_colour: "purple",
    details: {
      resource_type: "Presentation"
    }
  )%>

  </div>
