---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "data-management")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render('/partials/explore_resource_card.*',
    title: "Data management presentation",
    href: "#",
    tag:  "Data management",
    tag_colour: "purple",
    details: {
      resource_type: "Presentation"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Data collection audit",
    href: "#",
    tag:  "Data management",
    tag_colour: "purple",
    details: {
      resource_type: "Template"
    }
  )%>
</div>
