---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "evaluate-workload-measures")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render('/partials/explore_resource_card.*',
    title: "Evaluate impact using a staff workload survey",
    href: "#{@base_url}/workload-reduction-toolkit/evaluate-workload-measures/staff-workload-survey",
    tag:  "Evaluate workload measures",
    tag_colour: "green",
    details: {
      resource_type: "Template"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Evaluating the measures checklist",
    href: "#",
    tag:  "Evaluate workload measures",
    tag_colour: "green",
    details: {
      resource_type: "Template",
      created_by: "Bedford Academy"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Evaluating outcomes template",
    href: "#",
    tag:  "Evaluate workload measures",
    tag_colour: "green",
    details: {
      resource_type: "Case study",
      reading_time: "7 minutes",
      created_by: "Barr Beacon School"
    }
  )%>
</div>
