---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "identify-workload-issues")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render('/partials/explore_resource_card.*',
    title: "Identify issues using a staff workload survey",
    href: "#{@base_url}/workload-reduction-toolkit/identify-workload-issues/staff-workload-survey",
    tag:  "Identify workload issues",
    tag_colour: "pink",
    details: {
      resource_type: "Template"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Act on your staff workload survey",
    href: "#{@base_url}/workload-reduction-toolkit/identify-workload-issues/act-on-your-staff-workload-survey",
    tag:  "Identify workload issues",
    tag_colour: "pink",
    details: {
      resource_type: "Presentation"
    }
  )%>
</div>
