---
title: Review and streamline behaviour management
---

<div class="govuk-main-wrapper">
  <div class="dfe-width-container govuk-grid-row two-column-page">
    <div class="govuk-grid-column-two-thirds">
      <div class="dfe-width-container govuk-grid-row">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Review and streamline behaviour management</h1>
        <div class="dfe-width-container govuk-grid-row govuk-!-margin-bottom-7">
          <strong class="govuk-tag">Presentation</strong>
        </div>
        <div class="dfe-width-container govuk-grid-row">
          <p>
            Use this presentation in a staff meeting or INSET day to review and
            streamline your behaviour management processes.
          </p>
          <p>
            The presentation includes:
          <ul>
            <li>
              background and context about behaviour management and workload
            </li>
            <li>
              questions for discussion and a structured discussion template
            </li>
            <li>
              next steps, reviewing and updating the behaviour policy
            </li>
          </ul>
          </p>
        </div>
      </div>

      <div class="govuk-grid-row dfe-width-container">
        <div class="govuk-grid-column-full">
          <div class="info-box">
            <div class="info-box__corner">
              <img src="/assets/images/download-icon.svg" alt="Bullseye icon">
            </div>
            <h2 class="govuk-heading-m">
              Download the presentation
            </h2>
            <div class="govuk-grid-row info-box__download-content">
              <div class="govuk-grid-column-one-half">
                <img src="/assets/images/preview-placeholder.jpg" alt="Placeholder image" class="dfe-file-preview-image">
              </div>
              <div class="govuk-grid-column-one-half">
                <p class="govuk-body-s">
                  <strong>Presentation length:</strong> 1 hour
                </p>
                <p class="govuk-body-s">
                  <strong>Resource type:</strong> Presentation
                </p>
                <p class="govuk-body-s">
                  <strong>File type:</strong> TBC
                </p>
                <p>
                  <a class="govuk-link govuk-link--no-visited-state" href="<%= @base_url %>/assets/files/tbc">
                    Download
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-7">
          Audience
        </h2>

        <p>
          This resource has been provided to support senior leadership teams to
          run a session with the whole school, teams or departments, and
          governors where appropriate. 
        </p>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          Presentation length
        </h2>

        <p>
          1 hour. Time should also be allocated for the facilitator to enable
          them to effectively prepare the session for use in your school. 
        </p>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          How to run with your staff
        </h2>

        <p>
          The presentation is designed to help senior leadership teams and
          teaching staff consider the factors that build and maintain a school
          culture which prevents classroom disruption, supports good discipline,
          and leads to a reduction in workload related to behaviour management.
          It is also relevant to governing boards as they have a role in
          overseeing the school behaviour policy.
        </p>
        <p>
          Use the presentation:
        </p>
        <p>
          <ul>
            <li>
              to familiarise yourself with examples of different approaches to
              behaviour management
            </li>
            <li>
              to discuss in a supportive and open environment how the school’s
              behaviour policy is applied and whether processes could be
              streamlined to reduce workload
            </li>
            <li>
              in a way that is most useful for you, for example you might want
              to have discussions as a whole school, team, department or
              leadership team, liaising with governing boards.
            </li>
          </ul>
        </p>
        <p>
          You might want to run the workshop as part of a whole school INSET
          following an initial discussion with governors. Or you could complete
          the exercises individually or in teams, before discussing them
          together or communicating to the wider school.
        </p>
        <p>
          There is a discussion template which could also serve as a record of
          the actions to be taken forward.
        </p>
        <p>
          Provide a supportive environment for open and honest professional
          dialogue.
        </p>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          Useful reading
        </h2>

        <ul>
          <li>
            <a href="https://www.gov.uk/government/publications/behaviour-in-schools">
              Creating a culture: a review of behaviour management in schools
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/publications/behaviour-in-schools--2">
              Behaviour in schools: advice for headteachers and school staff
            </a>
          </li>
          <li>
            <a href="https://policyexchange.org.uk/publication/it-just-grinds-you-down">
              Policy Exchange publication: It just grinds you down
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/publications/teacher-workload-advisory-group-report-and-government-response">
              Making data work: Teacher workload advisory group report
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="govuk-grid-column-one-third govuk-!-padding-top-7">
      <div class="govuk-!-margin-top-9 govuk-!-padding-top-9">
        <%= render '/partials/feedback.*' %>
      </div>
    </div>
  </div>
</div>
